In [70]:
import pandas as ps

In [71]:
df = ps.read_csv("tips.csv")

### 1. Read the tips dataset from the provided source only. Handle the missing values with the appropriate techniques.

In [72]:
df.isnull().sum()

Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [73]:
median1 = df.total_bill.median()
median1

19.44

In [74]:
df['total_bill'] = df.total_bill.fillna(median1)

In [75]:
df.isnull().sum()

Unnamed: 0    0
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

### 2. Handle the categorical data in the tips dataset with the relevant approaches such as label-encoding, one hot encoding, ordinal encoding.

In [76]:
from sklearn.preprocessing import LabelEncoder

label1 = LabelEncoder()
df['sex'] = label1.fit_transform(df['sex'])
df['smoker'] = label1.fit_transform(df['smoker'])
df['day'] = label1.fit_transform(df['day'])
df['time'] = label1.fit_transform(df['time'])
df.head()

   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0           0       16.99  1.01    0       0    2     0     2
1           1       19.44  1.66    1       0    2     0     3
2           2       21.01  3.50    1       0    2     0     3
3           3       23.68  3.31    1       0    2     0     2
4           4       24.59  3.61    0       0    2     0     4

In [77]:
from sklearn.preprocessing import OneHotEncoder
da = ps.read_csv("tips.csv")

In [78]:
categorical_columns = ['sex', 'smoker', 'day', 'time']
encoder = OneHotEncoder()
encoder.fit(da[categorical_columns])
onehot_encoded = encoder.transform(da[categorical_columns])
onehot_encoded_df = ps.DataFrame(onehot_encoded.toarray(), columns=encoder.get_feature_names_out(categorical_columns))
final_df = ps.concat([da.drop(columns=categorical_columns), onehot_encoded_df], axis=1)
final_df

,Unnamed: 0,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1,NaN,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,239,29.03,5.92,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,240,27.18,2.00,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,241,22.67,2.00,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,242,17.82,1.75,2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,243,18.78,3.00,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [79]:
from sklearn.preprocessing import OrdinalEncoder
ds = ps.read_csv("tips.csv")
enc = OrdinalEncoder()

In [80]:
ds['sex'] = enc.fit_transform(ds[['sex']])
ds['smoker'] = enc.fit_transform(ds[['smoker']])
ds['day'] = enc.fit_transform(ds[['day']])
ds['time'] = enc.fit_transform(ds[['time']])
ds['size'] = enc.fit_transform(ds[['size']])

In [81]:
ds.head()

   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0           0       16.99  1.01  0.0     0.0  2.0   0.0   1.0
1           1         NaN  1.66  1.0     0.0  2.0   0.0   2.0
2           2       21.01  3.50  1.0     0.0  2.0   0.0   2.0
3           3       23.68  3.31  1.0     0.0  2.0   0.0   1.0
4           4       24.59  3.61  0.0     0.0  2.0   0.0   3.0

### 3. Perform feature scaling techniques such as min-max normalization, standardization, z-score, on the tips dataset.

In [82]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [83]:
df1 = ps.DataFrame(scaler.fit_transform(df),columns=df.columns)
df1.head()

   Unnamed: 0  total_bill       tip  sex  smoker       day  time  size
0    0.000000    0.291579  0.001111  0.0     0.0  0.666667   0.0   0.2
1    0.004115    0.342899  0.073333  1.0     0.0  0.666667   0.0   0.4
2    0.008230    0.375786  0.277778  1.0     0.0  0.666667   0.0   0.4
3    0.012346    0.431713  0.256667  1.0     0.0  0.666667   0.0   0.2
4    0.016461    0.450775  0.290000  0.0     0.0  0.666667   0.0   0.6

In [84]:
from sklearn.preprocessing import StandardScaler

obj = StandardScaler()
df2 = ps.DataFrame(obj.fit_transform(df),columns=df.columns)
df2.head()

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size
0,-1.724967,-0.499244,-1.439947,-1.343353,-0.784789,0.279158,-0.621582,-0.600193
1,-1.710769,-0.198219,-0.969205,0.744406,-0.784789,0.279158,-0.621582,0.453383
2,-1.696572,-0.005318,0.363356,0.744406,-0.784789,0.279158,-0.621582,0.453383
3,-1.682375,0.322738,0.225754,0.744406,-0.784789,0.279158,-0.621582,-0.600193
4,-1.668178,0.434547,0.443020,-1.343353,-0.784789,0.279158,-0.621582,1.506958

### 4. Create a new feature representing the average tip percentage for each dining party size.

In [85]:
arr1=df['size'].unique()

In [86]:
tip2 = df[df['size']==2].tip.mean()
tip3 = df[df['size']==3].tip.mean()
tip4 = df[df['size']==4].tip.mean()
tip1 = df[df['size']==1].tip.mean()
tip6 = df[df['size']==6].tip.mean()
tip5 = df[df['size']==5].tip.mean()

In [87]:
df.loc[df['size']==2,'tip_average'] = df[df['size']==2].tip.mean()
df.loc[df['size']==3,'tip_average'] = df[df['size']==3].tip.mean()
df.loc[df['size']==4,'tip_average'] = df[df['size']==4].tip.mean()
df.loc[df['size']==1,'tip_average'] = df[df['size']==1].tip.mean()
df.loc[df['size']==6,'tip_average'] = df[df['size']==6].tip.mean()
df.loc[df['size']==5,'tip_average'] = df[df['size']==5].tip.mean()

In [88]:
df.head()

   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size  tip_average
0           0       16.99  1.01    0       0    2     0     2     2.582308
1           1       19.44  1.66    1       0    2     0     3     3.393158
2           2       21.01  3.50    1       0    2     0     3     3.393158
3           3       23.68  3.31    1       0    2     0     2     2.582308
4           4       24.59  3.61    0       0    2     0     4     4.135405

### 5. Create a new feature based on total bill and tips if total bill is greater than 10$ and tips is greater than 3$ mark as Highest-bills-with-tips otherwise Normal-bills

In [89]:
df['bill_level'] = 'Normal-bills'
df.loc[(df['total_bill'] > 10) & (df['tip'] > 3), 'bill_level'] = 'Highest-bills-with-tips'

In [90]:
df.head()

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size,tip_average,bill_level
0,0,16.99,1.01,0,0,2,0,2,2.582308,Normal-bills
1,1,19.44,1.66,1,0,2,0,3,3.393158,Normal-bills
2,2,21.01,3.50,1,0,2,0,3,3.393158,Highest-bills-with-tips
3,3,23.68,3.31,1,0,2,0,2,2.582308,Highest-bills-with-tips
4,4,24.59,3.61,0,0,2,0,4,4.135405,Highest-bills-with-tips