In [1]:
import pandas as ps

In [2]:
df = ps.read_csv("tips.csv")

### 1. Read the tips dataset from the provided source only. Handle the missing values with the appropriate techniques.

In [3]:
df.isnull().sum()

Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [4]:
median1 = df.total_bill.median()
median1

19.44

In [5]:
df['total_bill'] = df.total_bill.fillna(median1)

In [6]:
df.isnull().sum()

Unnamed: 0    0
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

### 2. Handle the categorical data in the tips dataset with the relevant approaches such as label-encoding, one hot encoding, ordinal encoding.

In [7]:
from sklearn.preprocessing import LabelEncoder

label1 = LabelEncoder()
df['sex'] = label1.fit_transform(df['sex'])
df['smoker'] = label1.fit_transform(df['smoker'])
df['day'] = label1.fit_transform(df['day'])
df['time'] = label1.fit_transform(df['time'])
df.head()

   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0           0       16.99  1.01    0       0    2     0     2
1           1       19.44  1.66    1       0    2     0     3
2           2       21.01  3.50    1       0    2     0     3
3           3       23.68  3.31    1       0    2     0     2
4           4       24.59  3.61    0       0    2     0     4

In [22]:
from sklearn.preprocessing import OneHotEncoder
da = ps.read_csv("tips.csv")

In [24]:
categorical_columns = ['sex', 'smoker', 'day', 'time']

# Create one-hot encoder object
encoder = OneHotEncoder()

# Fit encoder to the selected categorical columns
encoder.fit(da[categorical_columns])

# Transform the selected categorical columns
onehot_encoded = encoder.transform(da[categorical_columns])

# Convert sparse matrix to array and convert to DataFrame
onehot_encoded_df = ps.DataFrame(onehot_encoded.toarray(), columns=encoder.get_feature_names_out(categorical_columns))

# Concatenate the one-hot encoded DataFrame with the non-categorical columns
final_df = ps.concat([da.drop(columns=categorical_columns), onehot_encoded_df], axis=1)
final_df

,Unnamed: 0,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1,NaN,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,239,29.03,5.92,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,240,27.18,2.00,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,241,22.67,2.00,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,242,17.82,1.75,2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,243,18.78,3.00,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [8]:
from sklearn.preprocessing import OrdinalEncoder
ds = ps.read_csv("tips.csv")
enc = OrdinalEncoder()

In [9]:
ds['sex'] = enc.fit_transform(ds[['sex']])
ds['smoker'] = enc.fit_transform(ds[['smoker']])
ds['day'] = enc.fit_transform(ds[['day']])
ds['time'] = enc.fit_transform(ds[['time']])
ds['size'] = enc.fit_transform(ds[['size']])

In [10]:
ds.head()

   Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0           0       16.99  1.01  0.0     0.0  2.0   0.0   1.0
1           1         NaN  1.66  1.0     0.0  2.0   0.0   2.0
2           2       21.01  3.50  1.0     0.0  2.0   0.0   2.0
3           3       23.68  3.31  1.0     0.0  2.0   0.0   1.0
4           4       24.59  3.61  0.0     0.0  2.0   0.0   3.0

### 3. Perform feature scaling techniques such as min-max normalization, standardization, z-score, on the tips dataset.

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df)

MinMaxScaler()

In [12]:
df1 = scaler.transform(df)
df1

array([[0.        , 0.29157939, 0.00111111, ..., 0.66666667, 0.        ,
        0.2       ],
       [0.00411523, 0.34289904, 0.07333333, ..., 0.66666667, 0.        ,
        0.4       ],
       [0.00823045, 0.3757855 , 0.27777778, ..., 0.66666667, 0.        ,
        0.4       ],
       ...,
       [0.99176955, 0.41055718, 0.11111111, ..., 0.33333333, 0.        ,
        0.2       ],
       [0.99588477, 0.30896523, 0.08333333, ..., 0.33333333, 0.        ,
        0.2       ],
       [1.        , 0.32907415, 0.22222222, ..., 1.        , 0.        ,
        0.2       ]])

In [13]:
from sklearn.preprocessing import StandardScaler

obj = StandardScaler()
df2 = obj.fit_transform(df)
df2

array([[-1.72496673e+00, -4.99243641e-01, -1.43994695e+00, ...,
         2.79157595e-01, -6.21581561e-01, -6.00192629e-01],
       [-1.71076947e+00, -1.98219022e-01, -9.69205340e-01, ...,
         2.79157595e-01, -6.21581561e-01,  4.53382921e-01],
       [-1.69657221e+00, -5.31753091e-03,  3.63355539e-01, ...,
         2.79157595e-01, -6.21581561e-01,  4.53382921e-01],
       ...,
       [ 1.69657221e+00,  1.98642007e-01, -7.22971264e-01, ...,
        -8.02024201e-01, -6.21581561e-01, -6.00192629e-01],
       [ 1.71076947e+00, -3.97263872e-01, -9.04025732e-01, ...,
        -8.02024201e-01, -6.21581561e-01, -6.00192629e-01],
       [ 1.72496673e+00, -2.79311368e-01,  1.24660453e-03, ...,
         1.36033939e+00, -6.21581561e-01, -6.00192629e-01]])

### 4. Create a new feature representing the average tip percentage for each dining party size.

In [14]:
arr1=df['size'].unique()

In [15]:
tip2 = df[df['size']==2].tip.mean()
tip3 = df[df['size']==3].tip.mean()
tip4 = df[df['size']==4].tip.mean()
tip1 = df[df['size']==1].tip.mean()
tip6 = df[df['size']==6].tip.mean()
tip5 = df[df['size']==5].tip.mean()

In [16]:
df.loc[df['size']==2,'tip_average'] = df[df['size']==2].tip.mean()
df.loc[df['size']==3,'tip_average'] = df[df['size']==3].tip.mean()
df.loc[df['size']==4,'tip_average'] = df[df['size']==4].tip.mean()
df.loc[df['size']==1,'tip_average'] = df[df['size']==1].tip.mean()
df.loc[df['size']==6,'tip_average'] = df[df['size']==6].tip.mean()
df.loc[df['size']==5,'tip_average'] = df[df['size']==5].tip.mean()

In [17]:
df['tip_average'].unique()

array([2.58230769, 3.39315789, 4.13540541, 1.4375    , 5.225     ,
       4.028     ])

### 5. Create a new feature based on total bill and tips if total bill is greater than 10$ and tips is greater than 3$ mark as Highest-bills-with-tips otherwise Normal-bills

In [18]:
df['bill_level'] = 'Normal-bills'
df.loc[(df['total_bill'] > 10) & (df['tip'] > 3), 'bill_level'] = 'Highest-bills-with-tips'

In [19]:
df.head()

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size,tip_average,bill_level
0,0,16.99,1.01,0,0,2,0,2,2.582308,Normal-bills
1,1,19.44,1.66,1,0,2,0,3,3.393158,Normal-bills
2,2,21.01,3.50,1,0,2,0,3,3.393158,Highest-bills-with-tips
3,3,23.68,3.31,1,0,2,0,2,2.582308,Highest-bills-with-tips
4,4,24.59,3.61,0,0,2,0,4,4.135405,Highest-bills-with-tips